.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
button#generate-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div#rarity-string-div {
    text-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/AFK%20Arena.jpg);
  background-size: cover;
  background-attachment: scroll;
  z-index: -1;
  opacity: 0.3;
}
