.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 960px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 50%;
}

p {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-shadow: 0.04em 0 lightgray, 0 0.04em lightgray, -0.04em 0 lightgray, 0 -0.04em lightgray;
}

label {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black;
}

button {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

input#rarity-string {
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://static-cdn.jtvnw.net/ttv-boxart/AFK%20Arena.jpg);
    background-size: cover;
    background-attachment: scroll;
    z-index: -1;
    opacity: 0.3;
}

.hero {
  border-radius: 8px;
}

.hero.a_unobtained {
  border: 3px solid black;
}

.hero.b_common {
  border: 3px solid black;
}

.hero.c_rare {
    border: 10px solid black;
  }

.hero.d_rare\+ {
    border: 10px solid gold;
  }

.hero.e_elite {
    border: 10px solid black;
  }

.hero.f_elite\+ {
    border: 10px solid gold;
  }

.hero.g_legendary {
    border: 10px solid black;
  }

.hero.h_legendary\+ {
    border: 10px solid gold;
  }

.hero.i_mythic {
    border: 10px solid black;
  }

.hero.j_mythic\+ {
    border: 10px solid gold;
  }

.hero.k_ascended {
    border: 10px solid black;
  }

.hero.l_ascended\+ {
    border: 10px solid gold;
  }

div#stored-string {
    text-align: center;
  }




  div.navbar{
    display: flex;
    justify-content: center;
  }
  
  a{
    margin-left: 30px;
    margin-right: 30px;
  }