.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-size: larger;
}
label {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
input#rarity-string {
    margin-left: auto;
    display: block;
    margin-right: auto;
}
